
@{
    ViewBag.Title = "XemDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@model MyClass.Models.Brand
<center><h2>Thêm Brand</h2></center>
<form action="/Admin/Brand/ThemBrand" method="post">
    <div style="width: 70%; margin-left: 50px">
        @if (ViewBag.result == 1)
        {
            <h5 style="color:greenyellow">Thêm thành công</h5>
        }
        <div>
            Tên Brand
            @Html.TextBoxFor(model => model.BrandName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            Hình ảnh brand
            <input type="file" name="BrandImage" class="form-control" />
        </div>
        <br />
        <div>
            Danh mục
            <select class="form-control" name="CatID">
                <option value="">Please Select ...</option>
                @foreach (var cat in ViewBag.listCategory)
                {
                    <option value="@cat.CatID">
                        @cat.CatName
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.CatID, "", new { @class = "text-danger" })
        </div>
        <br />
        <div style="width:25%;">
            Active
            <select class="form-control" name="Active">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>

        <div>
            <center><button type="submit" class="btn btn-success">Thêm</button></center>
        </div>
    </div>
</form>
<h4><a href="/Admin/Brand/XemBrand" style="margin-left: 50px;">Trở lại trang brand</a></h4>

