@using MyClass.Models;
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<GioHang>


<style>
    a {
        text-decoration: none;
    }
</style>
<h2 style="text-align:center">GIỎ HÀNG CỦA BẠN</h2>
<div class="card border-dark table-responsive">
    <table style="text-align: center; margin: 10px;">
        <tr >
            <th>MÃ SẢN PHẨM</th>
            <th>TÊN SẢN PHẨM</th>
            <th>ẢNH BÌA</th>
            <th>SỐ LƯỢNG</th>
            <th>ĐƠN GIÁ</th>
            <th>THÀNH TIỀN</th>
            <th></th>
            <th><a href="/GioHang/XoaGioHangAll">DELETE ALL</a></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="12%">@item.iMaSP</td>
                <td width="26%">@item.sTenSP</td>
                <td width="22%"><img src="~/Content/img/product/@item.iMetaType/@item.sAnhBia" width="50%"></td>
                @using (Html.BeginForm("CapNHatGioHang", "GioHang", new { MaSp = @item.iMaSP }))
                {
                    <td width="12%">
                        <input type="number" name="txtSoLuong" value="@item.iSoLuong" id="txtSoLuong" oninput="checkMinValue()"/>
                        <script>
                            function checkMinValue() {
                                var inputElement = document.getElementById("txtSoLuong");
                                var currentValue = parseInt(inputElement.value);

                                if (currentValue < 1) {
                                    inputElement.value = 1;
                                    document.getElementById("txtSoLuong").style.display = "block";
                                }
                            }
                        </script>
                    </td>
                    <td width="12%">@String.Format("{0:0,0}", item.dDonGia)</td>
                    <td width="16%">@String.Format("{0:0,0}", item.dThanhTien)</td>
                    <td><a href="/Product/Detail?ProductID=@item.iMaSP">Details</a></td>
                    <td><a href="/GioHang/XoaGioHang?MaSP=@item.iMaSP">Delete</a></td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Update">
                    </td>
                }
            </tr>
        }
        <tr>
            <td colspan="9" style="font-size: large; padding:10px;">
                <b>Chọn địa chỉ để nhận hàng</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding: 10px;">
                <select name="state" id="countySel" size="1" class="btn btn-outline-success" style="width:400px;">
                    <option value="" selected="selected">Chọn Tỉnh/Thành Phố</option>
                </select>
            </td>
            <td colspan="4">
                <select name="countrya" id="stateSel" size="1" class="btn btn-outline-success" style="width:400px;">
                    <option value="" selected="selected">Chọn Quận/Huyện</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <select name="district" id="districtSel" size="1" class="btn btn-outline-success" style="width:400px;">
                    <option value="" selected="selected">Chọn Phường/Xã</option>
                </select>
            </td>
            <td colspan="4">
                <div class="filladdress">
                    <input placeholder="Số nhà, tên đường" maxlength="255" style="width:400px; border-radius: 5px; padding: 5px;">
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr style="font-size: large;">
            <td colspan="3" style="color:blue; font-weight:bold; ">Tổng cộng: </td>
            <td style="color:red; font-weight: bold;">@ViewBag.TongSoLuong</td>
            <td></td>
            <td style="color:red; font-weight: bold;">@String.Format("{0:0,0}", ViewBag.TongThanhTien) VNĐ</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="9">
                @*<button class="btn btn-success" onclick="~/GioHang/LuuHoaDon" type="submit" style="width:98%; margin: 10px; padding: 10px;">
        Mua Hàng

    </button>*@
                <a href="~/GioHang/LuuHoaDonDetail" class="btn btn-success" style="width:98%; margin: 10px; padding: 10px;">
                    Mua Hàng
                </a>
            </td>
        </tr>
    </table>
</div>




<script>
    var stateObject = {
        "Hồ Chí Minh": {
            "TP.Thủ Đức (Gồm Q2, Q9, QTĐ)": ["Phường An Khánh", "Phường Lợi Đông", "Phường An Phú", "Phường Bình Chiểu", "Phường Bình Thọ", "Phường Bình Trưng Đông", "Phường Bình Trưng Tây", "Phường Cát Lái", "Phường Hiệp Bình Chánh", "Phường Hiệp Bình Phước", "Phường Hiệp Phú", "Phường Linh Chiểu", "Phường Linh Trung", "Phường Đông", "Phường Linh Xuân", "Phường Linh Tây", "Phường Long Bình", "Phường Long Phước", "Phường Long Thạnh Mỹ", "Phường Long Trường", "Phường Phú Hữu", "Phường Phước Bình", "Phường Phước Long A", "Phường Phước Long B", "Phường Tam Bình", "Phường Tam Phú", "Phường Tân Phú", "Phường Tăng Nhơn Phú A", "Phường Tăng Nhơn Phú B", "Phường Thạnh Mỹ Lợi", "Phường Thảo Điền", "Phường Thủ Thiêm", "Phường Trường Thạnh", "Phường Trường Thọ"],
            "Quận 1": ["Phường Bến Nghé", "Phường Bến Thành", "Phường Cầu Kho", "Phường Cầu Ông", "Phường Cô Giang", "Phường Đa Kao", "Phường Nguễn Cư Trinh", "Phường Nguyễn Thái Bình", "Phường Phạm Ngũ Lão", "Phường Tân Định"],
            "Quận 3": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường Võ Thị Sáu"],
            "Quận 4": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 08", "Phường 09", "Phường 10", "Phường 12", "Phường 13", "Phường 14", "Phường 15", "Phường 16", "Phường 18"],
            "Quận 5": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14"],
            "Quận 6": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14"],
            "Quận 7": ["Phường Bình Thuận", "Phường Phú Mỹ", "Phường Phú Thuận", "Phường Tân Hưng", "Phường Tân Kiểng", "Phường Tân Phong", "Phường Tân Phú", "Phường Tân Quy", "Phường Tân Thuận Đông", "Phường Tân Thuận Tây"],
            "Quận 8": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15", "Phường 16"],
            "Quận 10": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15"],
            "Quận 11": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15", "Phường 16"],
            "Quận 12": ["Phường An Phú Đông", "Phường Đông Hưng Thuận", "Phường Hiệp Thành", "Phường Tân Chánh Hiệp", "Phường Tân Hưng Thuận", "Phường Tân Thới Hiệp", "Phường Tân Thới Nhất", "Phường Thạnh Lộc", "Phường Thạnh Xuân", "Phường Thới An", "Phường Trung Mỹ Tây"],
            "Quận Bình Tân": ["Phường An Lạc", "Phường An Lạc A", "Phường Bình Hưng Hòa A", "Phường Bình Hưng Hòa B", "Phường Bình Trị Đông", "Phường Bình Trị Đông A", "Phường Bình Trị Đông B", "Phường Tân Tạo", "Phường Tân Tạo A"],
            "Quận Bình Thạnh": ["Phường 01", "Phường 02", "Phường 03", "Phường 05", "Phường 06", "Phường 07", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15", "Phường 17", "Phường 19", "Phường 21", "Phường 22", "Phường 24", "Phường 25", "Phường 26", "Phường 27", "Phường 28"],
            "Quận Gò Vấp": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15", "Phường 16", "Phường 17"],
            "Quận Phú Nhuận": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15", "Phường 17"],
            "Quận Tân Bình": ["Phường 01", "Phường 02", "Phường 03", "Phường 04", "Phường 05", "Phường 06", "Phường 07", "Phường 08", "Phường 09", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15"],
            "Quận Tân Phú": ["Phường Hiệp Tân", "Phường Hòa Thạnh", "Phường Phú Thạnh", "Phường Phú Thọ Hòa", "Phường Phú Trung", "Phường Sơn Kỳ", "Phường Tân Quý", "Phường Tân Sơn Nhì", "Phường Tân Thành", "Phường Tân Thới Hòa", "Phường Tây Thạnh"],
            "Huyện Bình Chánh": ["Thị Trấn Tân Túc", "Xã An Phú Tây", "Xã Bình Chánh", "Xã Bình Hưng", "Xã Bình Lợi", "Xã Đa Phước", "Xã Minh Long", "Xã Lê Minh Xuân", "Xã Phạm Văn Hai", "Xã Phong Phú", "Xã Quy Đức", "Xã Tân Kiên", "Xã Tân Nhựt", "Xã Tân Quý Tây", "Xã Vĩnh Lộc A", "Xã Vĩnh Lộc B"],
            "Huyện Cần Giờ": ["Thị Trấn Cần Thạnh", "Xã An Thới Đông", "Xã Bình Khánh", "Xã Long Hòa", "Xã Lý Nhơn", "Xã Tam Thôn Hiệp", "Xã Thạnh An"],
            "Huyện Củ Chi": ["Thị Trấn Củ Chi", "Xã An Nhơn Tây", "Xã An Phú", "Xã Bình Mỹ", "Xã Hòa Phú", "Xã Nhuận Đức", "Xã Phạm Văn Cỗi", "Xã Phú Hòa Đông", "Xã Phú Mĩ Hưng", "Xã Phước Hiệp", "Xã Phước Thạnh", "Xã Phước Vĩnh An", "Xã Tân An Hội", "Xã Tân Phú Trung", "Xã Tân Thạnh Đông", "Xã Tân Thạnh Tây", "Xã Tân Thông Hội", "Xã Thái Mỹ", "Xã Trung An", "Xã Trung Lập Hạ", "Xã Trung Lập Thượng"],
            "Huyện Hóc Môn": ["Thị Trấn Hóc Môn", "Xã Bà Điểm", "Xã Đông Thạnh", "Xã Nhị Bình", "Xã Tân Hiệp", "Xã Tân Thới Nhì", "Xã Tân Xuân", "Xã Thới Tam Thôn", "Xã Trung Chánh", "Xã Xuân Thới Đông", "Xã Xuân Thới Sơn", "Xã Xuân Thới Thượng"],
            "Huyện Nhà Bè": ["Thị Trấn Nhà Bè", "Xã Hiệp Phước", "Xã Long Thới", "Xã Nhơn Đức", "Xã Phú Xuân", "Xã Phước Kiến", "Xã Phước Lộc"],
        },
        "Hà Nội": {
            "South Australia": ["Dunstan", "Mitchell"],
            "Victoria": ["Altona", "Euroa"]
        },
        "Đà Nẵng": {
            "Alberta": ["Acadia", "Bighorn"],
            "Columbia": ["Washington", ""]
        },
    }
    window.onload = function () {
        var countySel = document.getElementById("countySel"),
        stateSel = document.getElementById("stateSel"),
        districtSel = document.getElementById("districtSel");
        for (var country in stateObject) {
            countySel.options[countySel.options.length] = new Option(country, country);
        }
        countySel.onchange = function () {
            stateSel.length = 1; // remove all options bar first
            districtSel.length = 1; // remove all options bar first
            if (this.selectedIndex < 1) return; // done
            for (var state in stateObject[this.value]) {
                stateSel.options[stateSel.options.length] = new Option(state, state);
            }
        }
        countySel.onchange(); // reset in case page is reloaded
        stateSel.onchange = function () {
            districtSel.length = 1; // remove all options bar first
            if (this.selectedIndex < 1) return; // done
            var district = stateObject[countySel.value][this.value];
            for (var i = 0; i < district.length; i++) {
                districtSel.options[districtSel.options.length] = new Option(district[i], district[i]);
            }
        }
    }
</script>