@model MyClass.Models.Product
@{
    ViewBag.Title = "DetailPro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card table-responsive col" style="padding: 10px; max-width: 700px; margin-top: 20px;">
        <h3 class="card-title-h3">@Html.DisplayFor(model => model.ProductName)</h3>

        <div class="row">
            <div class="col-xl-6 col-md-6 mb-8">
                <div class="img-main">
                    <img class="card-img" src="~/Content/img/product/@Html.DisplayFor(model => model.MetaKeywords)/@Html.DisplayFor(model => model.ProductImage)" alt="">
                </div>
                <p>
                    Thông tin sản phẩm:<br />
                    @Html.DisplayFor(model => model.ProductDes)
                </p>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
                <p style="text-decoration:line-through;">Giá:   @Html.DisplayFor(model => model.Price)   </p>
                <strong class="price" style=" color:red;">@Html.DisplayFor(model => model.PromotionPrice)</strong>
                <hr /><br /><br />
                <p>Số lượng tồn kho:  @Html.DisplayFor(model => model.Quantity)</p>
                <p>Thời gian bảo hành:  @Html.DisplayFor(model => model.Warranty)</p>
            </div>
        </div>
        <a href="@Url.Action("ThemGioHang", "GioHang", new { @ms = @Html.DisplayFor(model => model.ProductID), @strURL = Request.Url.ToString() })" class="btn btn-warning">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>Thêm Vào Giỏ
        </a>
    </div>
</div>


