@using MyClass.Models
@model Product
@{
    ViewBag.Title = "Thêm Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@{
    var user = Session["user"] as Users;
}
<center><h2>Thêm Sản Phẩm</h2></center>
<form action="/Admin/Product/ThemSP" method="post">
    <div style="width: 70%; margin-left: 50px">
        @if (ViewBag.result == 1)
        {
            <h5 style="color:greenyellow">Thêm thành công</h5>
        }
        else if (ViewBag.result == 0)
        {
            <h5 style="color:red">Thêm thất bại</h5>
        }
        <div>
            Tên sản phẩm
            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            Mô tả sản phẩm
            @Html.TextBoxFor(model => model.ProductDes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductDes, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            MetaKeywords
            <input type="text" name="MetaKeywords" class="form-control" />
            @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            Hình ảnh sản phẩm
            <input type="file" name="ProductImage" class="form-control" />
        </div>
        <br />
        <div>
            Danh mục
            <select class="form-control" name="CatID" id="categoryDropdown">
                <option  value="" >Chọn danh mục</option>
                @foreach (var cat in ViewBag.listCategory)
                {
                    <option value="@cat.CatID">
                        @cat.CatName
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.CatID, "", new { @class = "text-danger" })
        </div>
        <br /><div>
            Brand
            <select class="form-control" name="BrandID" id="brandDropdown">
            </select>
        </div>
        <script>
            $(document).ready(function () {
                $("#categoryDropdown").change(function () {
                    var catId = $(this).val(); // Lấy giá trị của danh mục được chọn
                    getBrands(catId);
                });
            });

            function getBrands(catId) {
                $.ajax({
                    type: 'GET',
                    url: `/api/brand?catid=${catId}`,
                    success: (responses) => {
                        $('#brandDropdown').empty();
                        for (var i = 0; i <= responses.length; i++) {
                            const brandRow = responses[i];
                            const strHTML = '<option value="' + brandRow.BrandID + '">' + brandRow.BrandName + '</option>'
                            $('#brandDropdown').append(strHTML);
                        }
                    },
                    error: (err) => { console.log(error); }
                });
            }
        </script>
        <br />
        <div style="width:25%;">
            Giá
            <input type="number" name="Price" class="form-control" />
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div><br />
        <div style="width:25%;">
            Giá ưu đãi
            @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
        </div><br />
        <div style="width:25%;">
            Số lượng
            <input type="number" name="Quantity" class="form-control" />
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div><br />
        <div style="width:25%;">
            Bảo hành
            <input type="number" name="Warranty" class="form-control" />
            @Html.ValidationMessageFor(model => model.Warranty, "", new { @class = "text-danger" })
        </div><br />
        <div>
            CreatedBy
            <select class="form-control" name="CreatedBy">
                @if (user != null)
                {
                    <option value="@user.UserName">
                        @user.UserName
                    </option>
                }
                else
                {
                    foreach (var usr in ViewBag.listUser)
                    {
                        <option value="@usr.UserName">
                            @usr.UserName
                        </option>
                    }
                }
            </select>
        </div>
        <br />
        <div style="width:25%;">
            Active
            <select class="form-control" name="Active">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>

        <div>
            <center><button type="submit" class="btn btn-success">Thêm</button></center>
        </div>
    </div>
</form>
<h4><a href="/Admin/Product/XemSP" style="margin-left: 50px;">Trở lại trang sản phẩm</a></h4>