@model IEnumerable<MyClass.Models.Product>

@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th scope="col">ProductName</th>
            <th scope="col">ProductDes</th>
            <th scope="col">MetaKeywords</th>
            <th scope="col">ProductImage</th>
            <th scope="col">CatName</th>
            <th scope="col">BrandName</th>
            <th scope="col">Price</th>
            <th scope="col">PromotionPrice</th>
            <th scope="col">Quantity</th>
            <th scope="col">Warranty</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.ProductDes</td>
                <td>@item.MetaKeywords</td>
                <td>
                    <img class="card-img" src="~/Content/img/product/@item.MetaKeywords/@item.ProductImage" alt="">
                </td>
                @foreach (var cat in ViewBag.listCategory)
                {
                    if (cat.CatID == item.CatID)
                    {
                        <td>@cat.CatName</td>
                    }
                }
                @foreach (var brand in ViewBag.listBrand)
                {
                    if (brand.BrandID == item.BrandID)
                    {
                        <td>@brand.BrandName</td>
                    }
                }
                <td>@item.Price</td>
                <td>@item.PromotionPrice</td>
                <td>@item.Quantity</td>
                <td>@item.Warranty</td>
                <td>@item.Active</td>
                <td>
                    <a href="/Admin/Product/SuaSP?ProductID=@item.ProductID" style="color:greenyellow">Edit</a>
                    <a class="btn-delete" style="color:greenyellow" data-bs-toggle="modal" data-bs-target="#exampleModal" data-productid=@item.ProductID data-productname=@item.ProductName>Delete</a>
                </td>
            </tr>

        }
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-eo0AtKANaP0uEXYl/6c6lgYLRiwELxFVQ3VRsHg7j5trrq4GknGOpENZRTtS2SF9" crossorigin="anonymous"></script>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:black">Xóa sản phẩm</h5>
            </div>
            <div class="modal-body">
                <p style="color: red">Bạn có chắc muốn xóa sản phẩm?</p>
                <table class="table table-product">
                    <tr>
                        <td>ProductID</td>
                        <td><span id="DeleteProductIDSpan"></span></td>
                    </tr>
                    <tr>
                        <td>ProductName</td>
                        <td><span id="DeleteProductNameSpan"></span></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <a href="/Admin/Product/XoaSP?ProductID" id="btn-xoa" class="btn btn-success">Xóa</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.btn-delete').click((event) => {
        const productid = $(event.target).attr('data-productid');
        const productname = $(event.target).attr('data-productname');
        $('#DeleteProductIDSpan').html(productid);
        $('#DeleteProductNameSpan').html(productname);
        $("#btn-xoa").attr("href", "/Admin/Product/XoaSP?ProductID=" + productid);
    })
</script>

