@using MyClass.Models
@model Category
@{
    ViewBag.Title = "Thêm Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@{
    var user = Session["user"] as Users;
}

<center><h2>Thêm Danh Mục</h2></center>
<form action="/Admin/Category/ThemDanhMuc" method="post">
    <div style="width: 70%; margin-left: 50px">
        @if (ViewBag.result == 1)
        {
            <h5 style="color:greenyellow">Thêm thành công</h5>
        }
        else if (ViewBag.result == 0)
        {
            <h5 style="color:red">Thêm thất bại</h5>
        }
        <div>
            Tên danh mục
            <input type="text" name="CatName" class="form-control" />
            @Html.ValidationMessageFor(model => model.CatName, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            Hình ảnh danh mục
            <input type="file" name="CategoryImage" class="form-control" />
        </div>
        <br />
        <div>
            Seotitle
            <input type="text" name="SeoTitle" class="form-control" />
            @Html.ValidationMessageFor(model => model.SeoTitle, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            CreatedBy
            <select class="form-control" name="CreatedBy">
                @if (user != null)
                {
                    <option value="@user.UserName">
                        @user.UserName
                    </option>
                }
                else
                {
                    foreach (var usr in ViewBag.listUser)
                    {
                        <option value="@usr.UserName">
                            @usr.UserName
                        </option>
                    }
                }
            </select>
        </div>
        <br />
        <div style="width:25%;">
            Active
            <select class="form-control" name="Active">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>

        <div>
            <center><button type="submit" class="btn btn-success">Thêm</button></center>
        </div>
    </div>
</form>
<h4><a href="/Admin/Category/XemDanhMuc" style="margin-left: 50px;">Trở lại trang danh mục</a></h4>

