
@{
    ViewBag.Title = "XemUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h4><a href="/Admin/Users/ThemUser">Create New</a></h4>
@model List<MyClass.Models.Users>
<table class="table">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Role</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>@item.Name</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.Role</td>
                <td>@item.Active</td>
                <td>
                    <a href="/Admin/Users/SuaUser?username=@item.UserName" style="color:greenyellow">Edit</a>
                    <a href="/Admin/Users/XoaUser?username=@item.UserName" style="color:greenyellow">Delete</a>
                </td>
            </tr>
        }
</table>



