
@{
    ViewBag.Title = "Xem Tài Khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h4><a href="/Admin/Users/ThemUser">Create New</a></h4>
@model List<MyClass.Models.Users>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Role</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>@item.Name</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.Role</td>
                <td>@item.Active</td>
                <td>
                    <a href="/Admin/Users/SuaUser?username=@item.UserName" style="color:greenyellow">Edit</a>
                    <a class="btn-delete" style="color:greenyellow" data-bs-toggle="modal" data-bs-target="#exampleModal" data-username=@item.UserName>Delete</a>
                </td>
            </tr>
        }
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:black">Xóa tài khoản</h5>
            </div>
            <div class="modal-body">
                <p style="color: red">Bạn có chắc muốn xóa user ?</p>
                <table class="table table-product">
                    <tr>
                        <td>UserName</td>
                        <td><span id="DeleteUserNameSpan"></span></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <a href="/Admin/Users/XoaUser?username" id="btn-xoa" class="btn btn-success">Xóa</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.btn-delete').click((event) => {
        const username = $(event.target).attr('data-username');
        $('#DeleteUserNameSpan').html(username);
        $("#btn-xoa").attr("href", "/Admin/Users/XoaUser?username=" + username);
    })
</script>


